

:root {
	--cor01: #0033a1;
	--cor02: white;
	--cor03: #fe813f;
}
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
@font-face {font-family: NiveaBrandType; src: url(fonts/NIVEABrandTypeTT-Light.woff);font-weight: 200;}
@font-face {font-family: NiveaBrandType; src: url(fonts/NIVEABrandTypeTT-Regular.woff);font-weight: 400 normal;}
@font-face {font-family: NiveaBrandType; src: url(fonts/NIVEABrandTypeTT-Bold.woff);font-weight: 600;}
@font-face {font-family: NiveaBrandType; src: url(fonts/NIVEABrandTypeTT-ExtraBold.woff);font-weight: 800;}
*,*:before,*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,p {
	font-family: "NiveaBrandType", sans-serif;
}
.home h1,.home h2,.home h3,.home h4,.home h5,.home p {
	color: #0033a1;
}



.fade-section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-bg1 {
  background-color: #ccc;
}
.fade-bg2 {
  background-color: #333;
}
.fade-h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  font-weight: 600;
  line-height: 1;
  color: var(--cor01);
}
.fade-h1 span {
	font-size: 24px;
	line-height: .9;
}
.fade-revealUp {
  opacity: 0;
  visibility: hidden;
}
.fade-spacer {
  height: 50vh;
  background-color: #000;
}


@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.containerIntro span,
.containerIntro p,
.introStar {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.containerIntro .introStar:nth-child(1) {animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro .introStar:nth-child(2) {animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro .introStar:nth-child(3) {animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro .introStar:nth-child(4) {animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro .introStar:nth-child(5) {animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);}

.containerIntro span:nth-child(1) {animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(2) {animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(3) {animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(4) {animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(5) {animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(6) {animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(7) {animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(8) {animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(9) {animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(10) {animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(11) {animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(12) {animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(13) {animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(14) {animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(15) {animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(16) {animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(17) {animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(18) {animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(19) {animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(20) {animation: fade-in 0.8s 2.0s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(21) {animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(22) {animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(23) {animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(24) {animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(25) {animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(26) {animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(27) {animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(28) {animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(29) {animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(30) {animation: fade-in 0.8s 3.0s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(31) {animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(32) {animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(33) {animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(34) {animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(35) {animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(36) {animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(37) {animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(38) {animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(39) {animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);}
.containerIntro span:nth-child(40) {animation: fade-in 0.8s 4.0s forwards cubic-bezier(0.11, 0, 0.5, 0);}

.containerIntro .introAutor {animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);}

@keyframes fade-in {100% {opacity: 1;filter: blur(0);}
}


.containerIntro {
	background: var(--cor03);
	height: 100vh;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.containerIntro h1 {
	color: var(--cor02);
	font-weight: 600;
	font-size: 2rem;
}
.introAutor {
	color: var(--cor02);
	width: 100%;
}
.containerIntro svg {
	display: inline-block;
}
.introStarDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.introStar {
	margin-bottom: 10px;
	fill: white;
	width: 30px;
	margin: 6px;
}

.nivea-logo {
	max-width: 80px;
	margin: 40px auto 0;	
}
.containerA {
	background: linear-gradient(180deg, var(--cor03) 1%, transparent 40%);
	margin-top: -1px;
}

.containerB {
	margin: 20px 0;
}
.carousel-imgctn img {
	max-width: 100%;
}
@media (min-width: 768px) {
	.carousel-imgctn {
		display: flex;
		justify-content: center;
	}
	.carousel-imgctn img {
		max-width: 400px;
	}
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.containerC {
	background-color: var(--cor03);
	padding-top: 40px;
	padding-bottom: 40px;
}
.containerC h1 {
	color: var(--cor02);
	font-weight: 600;
}
.modoUsoDiv {
	height: 100vw;
	background-size: cover;
	background-size: 120%;
	background-position: center ;
	margin-bottom: 32px;
}
.modoUsoDiv-desktop {
	width: 500px;
	height: 500px;
	background-size: cover;
	background-size: 120%;
	background-position: center ;
	margin: auto;
	margin-bottom: 32px;
}
.ingredientes {
	display: inline-block;
	color: var(--cor02);
	border: 1px solid var(--cor02);
	border-radius: 50px;
	padding: 10px 50px;
	cursor: pointer;
}
.ingredientesLista {
	color: var(--cor02);
	overflow: hidden;
	display: none;
}
.containerD {
	background-color: white;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: #0033a1;	
}
.containerE {
	background: linear-gradient(0deg, var(--cor03) 1%, transparent 90%);
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: #0033a1;	
}
.containerE video {
	box-shadow: 0 -1px 10px rgb(0 0 0 / 20%);
}
.containerF {
	background: var(--cor03);
	color: var(--cor02);
	padding-bottom: 25px;
	margin-top: -1px;
	text-align: center;
	font-weight: 600;
}
.containerF h1 {
	margin-top: 16px;
}
.containerTexto {
	color: var(--cor01);
}
.containerTexto h3 {
	font-weight: 600;
	margin-top: 32px;
}
.containerTexto b {
	font-weight: 600;
}
.beneficios {
	margin-bottom: 30px;
}
.beneficios div {
    border: 1px solid;
    border-color: var(--cor03);
    padding: 8px 16px;
    border-radius: 48px;
    margin: 0 24px 12px;
}

#cameraStartButtonBg {
	position: relative;
	background: #0033a1;
	aspect-ratio: 1 / 1;
    width: 330px;
    height: auto;
    border-radius: 50%;
	border:0;
	display: flex;
	cursor: pointer;
	-webkit-transition: all .5s;
}
.cameraStartButton {
	position: absolute;
	aspect-ratio: 1 / 1;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .8s;
	-webkit-transition: all .8s;
	text-align: center;
	line-height: 1;
	
}
.cameraStartButton img {
	max-width: 60px;
	margin-bottom: 8px;
	
}
.cameraStartButton h3 {
	color: white;
	
}
.cameraStartButton:hover {
	transform: scale(120%);
}
#cameraHolder {
	display: flex;
	justify-content: center;
	width: 0%;
}
#camera {
	text-align: center;
	transform: scale(1);
}
#camera video {
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: 180vw;
	height: auto;
	object-fit: cover !important;
	position: relative;
	
}
#camera-text {
	color: white;
	z-index: 9999;
	position: absolute;
	background: #0033a1;
	border-radius: 8px;
	padding: 8px;
	width: 200px;
	transform: scale(1) translateX(-50%) translateY(-50%);
	left: 50%;
	top: 70%;
	opacity: 0;
	transition: all 1.4s ease;
	-webkit-transition: all 1.4s ease;
}
#barLine {
	height: 3px;
	background: #0033A1;
	width: 0%;
	margin: auto;
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(1) translateX(-50%);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;	
}
.drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.resultado-modal-bg {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);
	z-index: 999;
	height: 100%;
	width: 100vw;
}
.resultado-modal-box {
	background-color: white;
	border-radius: 8px;
	text-align: center;
	padding: 24px;
}
.resultado-image {
	width: 300px;
	height: 300px;
	display: block;
}
.resultado-botao {
	background-color: #0033a1;
	padding: 16px 24px;
	border-radius: 8px;
	color: white;
	text-decoration: none;
	font-size: 18px;
	display: block;
}
.resultado-botao-secondary {
	background-color: transparent;
	color: #0033a1;
	border: 1px solid #0033a1;
}
